{% if page_obj.has_other_pages %}
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1&q={{ q|default:'' }}">&laquo; Primera</a>
            <a href="?page={{ page_obj.previous_page_number }}&q={{ q|default:'' }}">Anterior</a>
        {% endif %}

        <span class="current">
            Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}&q={{ q|default:'' }}">Siguiente</a>
            <a href="?page={{ page_obj.paginator.num_pages }}&q={{ q|default:'' }}">Última &raquo;</a>
        {% endif %}
    </span>
</div>
{% endif %}